@model InfnetMovieDataBase.Domain.Pessoa

@{
    ViewData["Title"] = "Excluir Pessoa";
}

<h2>Excluir Pessoa</h2>

<h3>Excluir @Html.DisplayFor(model => model.Nome) @Html.DisplayFor(model => model.Sobrenome)?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sobrenome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Excluir" class="btn btn-default" /> |
        <a asp-action="Index">Voltar à Listagem</a>
    </form>
</div>
